/**color palette
dark black -> #131415;
light black -> #232729;
var(--left-panel);
var(--graph-bg);
var(--titles);
var(--fnt-col);
**/

:root {
  --left-panel: #272727;
  --graph-bg: #D3D5D4;
  --titles: #A2C5AC;
  --fnt-col: #D3D5D4;
}

body{
  overflow: hidden;
}
#leftPanel {
  background: var(--left-panel);
  height: 100vh;
  width: 20%;
  float: left;
}

#rightPanel{
  background-color: var(--graph-bg);
  height: 100vh;
  width: 80%;
  float: right;
}
.ui.attached.segment {
  border: 0px;
}

#mynetwork{
  height: 100vh;
}

#databaseContent {
  background: var(--left-panel);
}

#silkInput{
  background: var(--left-panel);
  color: var(--fnt-col);
  border: 1px solid var(--left-panel);
  border-bottom: 1px solid var(--fnt-col);
}

#silkInput:focus{
 border-color: var(--fnt-col);
}

#silkLabel{
  color: var(--fnt-col);
}

#dbButton{
  width: 100%;
  color: var(--titles);
  background:var(--left-panel);
}

#dbButton:hover, #dbButton:focus{
  border-left: 1px solid var(--fnt-col);
  border-right: 1px solid var(--fnt-col);
}

#loadNodeButton{
  width: 90%;
  color: var(--titles);
  background:var(--left-panel);
  /*---center something in a div--*/
  display: block;
  margin: 0 auto;
  /*------------------------------*/
}

#loadNodeButton:hover, #dbButton:focus{
  border-left: 1px solid var(--fnt-col);
  border-right: 1px solid var(--fnt-col);
}

#goldTitles{
  color: var(--titles);
}
.title{
  background-color:var(--left-panel);
  margin-bottom: 5px;
}

.content{
  background-color: var(--left-panel);
  margin-bottom: 5px;
}

.form{
  width: 90%;
  position: relative;
  left: 5%;
  text-align: center;
}
.field {
  align-items: center;
}

.ui.form input[type="text"]
{
  color: var(--fnt-col);
  background: var(--left-panel);
}
