/**color palette
dark black -> #131415;
light black -> #232729;
var(--left-panel);
var(--graph-bg);
var(--titles);
var(--fnt-col);
**/

:root {
  --left-panel: #272727;
  --graph-bg: #D3D5D4;
  --titles: #A2C5AC;
  --fnt-col: #D3D5D4;
}

body{
  overflow: hidden;
}
#leftPanel {
  background: var(--left-panel);
  height: 100vh;
  width: 20%;
  float: left;
}

#rightPanel{
  background-color: var(--graph-bg);
  width: 80%;
  float: right;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.ui.attached.segment {
  border: 0px;
}

#mynetwork{
flex: 1 1 auto;
height: 93vh;
}

#silkInput{
  background: inherit;
  color: var(--fnt-col);
  /*border: 1px solid var(--left-panel);*/
  border-bottom: 1px solid var(--fnt-col);
}

#silkInput:focus{
 border-color: var(--fnt-col);
}

#queryDiv {
  display: inline-flex;
  height: 5vh;
  position: fixed;
  bottom: 0;
  width: 80%;

}
#queryBox{
  /*background: var(--left-panel);
  color: var(--fnt-col);
  border: 1px solid var(--left-panel);
  border-bottom: 1px solid var(--fnt-col);*/
  resize: none;
  overflow: hidden;
  padding: 3px;
  width: 90%;
}
/*
#queryBox:focus{
  outline: 0px none transparent;
  border: 1px solid var(--fnt-col);
  border-radius: 5px;
}*/

#findNodeButton{
  color: var(--titles);
  background: var(--left-panel);
  width: 10%;
}


#silkLabel{
  color: white;
}

#dbButton{
  display: block;
  margin: 0 auto;
  color: white;
  background: inherit;
  margin-left: 42%;
}

/*#dbButton:hover, #dbButton:focus{
  border-left: 1px solid var(--fnt-col);
  border-right: 1px solid var(--fnt-col);
}*/

#allNodesButton, #rootNodeButton, #evolveButton{
  width: 90%;
  color: var(--titles);
  background:var(--left-panel);
  /*---center something in a div--*/
  display: block !important;
  margin: 0 auto;
  /*------------------------------*/
}

#allNodesButton:hover, #rootNodeButton:hover, #evolveButton:hover {
  border-left: 1px solid var(--fnt-col);
  border-right: 1px solid var(--fnt-col);
}



#goldTitles{
  color: var(--titles);
}
.title{
  background-color:var(--left-panel);
  margin-bottom: 5px;
}

.content{
  background-color: var(--left-panel);
  margin-bottom: 5px;
}

#databaseForm {
  display: block;
  margin: 0 auto;
  padding-right: 12%;
}

#loginModal {
  top: 40%;
  padding-left: 200px;
  padding-right: 200px;
}
.field {
  align-items: center;
}

.ui.form input[type="text"]
{
  color: var(--fnt-col);
  background: var(--left-panel);
}
